/** General display rules **/
.block_recommender .block_tree {margin:5px;padding-left:0px;overflow:visible;}
.block_recommender .block_tree li {margin:3px;list-style: none;padding:0;}
.block_recommender .block_tree li.item_with_icon > p {position:relative;}
.block_recommender .block_tree li.item_with_icon > p img {vertical-align:middle;position:absolute;left:-1px;top:3px}
.block_recommender .block_tree li a {text-decoration:none;}
.block_recommender .block_tree li a:hover {text-decoration:underline;}

.block_recommender .block_tree li ul {padding-left:0;margin:0;}
.block_recommender .block_tree li.depth_2 ul {padding-left:16px;margin:0;}
.block_recommender .block_tree .tree_item {padding-left: 18px;margin:3px 0px;text-align:left;}

.block_recommender .block_tree .tree_item.branch {background-image: url([[pix:t/expanded]]);background-position: 0 10%;background-repeat: no-repeat;}
.block_recommender .block_tree .collapsed .tree_item.branch {background-image: url([[pix:t/collapsed]]);}
.block_recommender .block_tree .tree_item.emptybranch {background-image: url([[pix:t/collapsed_empty]]);background-position: 0% 5%;background-repeat: no-repeat;}

.block_recommender .block_tree .tree_item.branch.navigation_node {background-image:none;padding-left:0;}
.block_recommender .block_tree .root_node.leaf {padding-left:0px;}
.block_recommender .block_tree .active_tree_node {font-weight:bold;}
.block_recommender .block_tree .depth_1.current_branch ul {font-weight:normal;}

.dock .block_recommender .tree_item {white-space: nowrap;}

.jsenabled .block_recommender .block_tree .tree_item.branch {cursor:pointer;}
.jsenabled .block_recommender .block_tree .collapsed ul {display: none;}
.jsenabled .block_recommender .block_tree .tree_item.branch.loadingbranch {background-image:url([[pix:i/loading_small]]);}

/** JavaScript state rules **/
.jsenabled .block_recommender.dock_on_load,
.block_recommender .block_tree_box .requiresjs {display:none;}
.jsenabled .block_recommender .block_tree_box .requiresjs {display:inline;}

/** Internet explorer specific rules **/
.ie6 .block_recommender .block_tree .tree_item {width:100%;}

/** Overide for RTL layout **/
.dir-rtl .block_recommender .block_tree li.depth_2 ul {padding-left:0;padding-right: 7px;}
.dir-rtl .block_recommender .block_tree .tree_item {padding-right: 18px;text-align:right;}

.dir-rtl .block_recommender .block_tree .tree_item.branch {background-position: center right;}

.dir-rtl .block_recommender .block_tree,
.dir-rtl .block_recommender .block_tree li ul,
.dir-rtl .block_recommender .block_tree .navigation_node.tree_item.branch,
.dir-rtl .block_recommender .block_tree .root_node.leaf {padding-right:0;}

.dir-rtl .block_recommender .block_tree li.item_with_icon > p img,

.jsenabled.dir-rtl .block_recommender .block_tree .tree_item.emptybranch {background-image: url([[pix:t/collapsed_empty_rtl]]);background-position: center right;}
.jsenabled.dir-rtl .block_recommender .block_tree .collapsed .tree_item.branch {background-image: url([[pix:t/collapsed_rtl]]);}

/** Bookmark service **/
.block_recommender_service_bookmark_area .block_recommender_service_bookmark_list {min-height: 1em;}
.block_recommender_service_bookmark_area .block_recommender_service_bookmark_list .bookmark_handle {cursor:move;}

/** Activity service **/
#page-blocks-recommender-services-activity-view .thleft {
    text-align: left;
}
#page-blocks-recommender-services-activity-view .instancename {
    padding-left: 5px;
}

#page-blocks-recommender-services-activity-view .headerwithhelp {
    display:inline;
    padding-right: 5px;
}
.ie .recommender_apply {
    margin-left: 215px;
}
